.delay-0
{
    transition-delay: 0s;
}

.delay-1
{
    transition-delay: 0.03s !important;
}

.delay-2
{
    transition-delay: 0.06s !important;
}

.delay-3
{
    transition-delay: 0.09s !important;
}

.delay-4
{
    transition-delay: 0.12s !important;
}

.delay-5
{
    transition-delay: 0.15s !important;
}

.delay-6
{
    transition-delay: 0.18s;
}