label.error 
{
    font-size: 0.8rem;
    color: $red;
    width: 100%;
    font-weight: 400;
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
    text-align: right;

    &.hide
    {
        display: none;
    }
}

input.error
{
    outline: 1px solid $red;
    outline-offset: -1px;
    border-radius: 0.9375rem;
    background-color: rgba(255, 122, 10, 0.08);
}
