main
{
  visibility: hidden;
}

.loader
{
  display: block;
}

.burger__item.w--current
{
  pointer-events: none;
}

.burger__item.w--current .h3--84
{
  color: #7870F1;
}

::selection
{
  background-color: #7870F1;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: transparent;
}