@import './test.scss';

main
{
  visibility: hidden;
}

.loader
{
  display: block;
}

::selection
{
  background-color: #7870F1;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: transparent;
}